body {
    background: #929292;
    color: #000000;
    font: normal 10px "JetBrains Mono Medium", monospace;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    gap: 10px;
    height: 100vh;
}

* { box-sizing: border-box; }

.message {
    max-width: 400px;
    line-height: 15px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
}

.indicator {
    display: flex;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-top-color: #000000;
    animation: 0.25s linear infinite spin;
    border-radius: 100%;
}

@keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}