@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #181818;
    color: #B4B4B4;
    font: normal 10px "REM";
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    gap: 10px;
    height: 100vh;
}

* { box-sizing: border-box; }

.message {
    max-width: 400px;
    line-height: 15px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
}

.indicator {
    display: flex;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-top-color: #B4B4B4;
    animation: 0.25s linear infinite spin;
    border-radius: 100%;
}

@keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}